/*----------------------Переменные----------------------*/

:root {
  --black: #1F2E35;
  --light-black:  rgba(31, 46, 53, 0.8);
  --grey: #263238;
  --dark-grey: #30444E;
  --light-red: #ee4248;
}