
/*------------------Logo------------------*/

.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo__label {
  font-size: 48px;
  font-weight: 900;
  line-height: 56.25px;
  display: flex;
  letter-spacing: -2px;
}
.logo__label-span_brown {
  color: #85171A;
  text-transform: uppercase;
}
.logo__label-span_red {
 color:#DC2025;
 text-transform: uppercase;
}
.logo__label-span_yellow {
  color:#FEBA08;
  text-transform: uppercase;
}
.logo__items {
  display: flex;
  flex-direction: column;
}
.logo__item {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}
.logo__item-span_wide {
  line-height: 14.32px;
  letter-spacing: 0.35px;
  color: rgba(0, 0, 0, 0.6);
}
.logo__item-span_wide:hover {
  color: #85171A;
}
.logo__item-span_normal {
  line-height: 11.72px;
  letter-spacing: -0.1px;
  color: rgba(38, 50, 56, 0.8);
}
.logo__item-span_normal:hover {
  color: #DC2025;
}
.logo__item-span_narrow {
  line-height: 11.72px;
  letter-spacing: -0.5px;
  color: rgba(38, 50, 56, 1);
}
.logo__item-span_narrow:hover {
  color: #FEBA08;
}
